.bg-video {
    position: absolute; //make .section-stories position: relative
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; //ensures to be behind all elements
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //similar to background-size cover.. fills entire parent while maintaining video aspect ratio
    }
}