@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translatex(-10rem);
    }

    80% {
        transform: translateX(1rem);
        /* transform: rotate(180deg); */
    }

    100%{
        opacyity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translatex(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100%{
        opacyity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translatey(-5rem);
    }

    80% {
        transform: translatey(1rem);
    }

    100%{
        opacyity: 1;
        transform: translate(0);
    }
}